<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | Signup</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
</head>
<body>
    <form method="post">
        
        <input type="text" name="email" placeholder="Email"/>
        <input type="text" name="name" placeholder="Full Name"/>
        <input type="password" name="password" placeholder="Password"/>
        <input type="password" name="password-repear" placeholder="Repeat Password"/>
        <button class="btn btn-success" type="submit"></button>
    </form>
</body>
</html>