<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog_Name | {{template "title" .}}</title>
    {{template "head" .}}	
</head>
<body>
    <div class="nav">
        {{template "menu.tmpl" .}}
    </div>
    <div class="content">
        {{template "content.tmpl"}}
    </div>
</body>
</html>